<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chop_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,0},{69,91}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{69,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,0},{67,91}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,8},{67,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,191},{65,89}}</string>
			<key>offset</key>
			<string>{12,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{65,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p100.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,256},{59,89}}</string>
			<key>offset</key>
			<string>{6,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,10},{59,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p101.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,180},{61,89}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,10},{61,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p102.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,134},{63,89}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,10},{63,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p103.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,0},{67,91}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,8},{67,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p104.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{69,91}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{69,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,150},{65,89}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,10},{65,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,276},{59,89}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,10},{59,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,455},{63,87}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,12},{63,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,528},{61,87}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,12},{61,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,356},{67,87}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{67,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,455},{73,87}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,12},{73,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,530},{75,87}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{75,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,457},{79,87}}</string>
			<key>offset</key>
			<string>{-6,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,12},{79,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,370},{83,87}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,12},{83,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,0},{65,91}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,8},{65,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,370},{85,87}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{85,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,370},{85,87}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{85,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,546},{61,87}}</string>
			<key>offset</key>
			<string>{6,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,12},{61,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,532},{61,87}}</string>
			<key>offset</key>
			<string>{7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,12},{61,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,191},{63,89}}</string>
			<key>offset</key>
			<string>{7,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,10},{63,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,126},{65,89}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,10},{65,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,69},{65,89}}</string>
			<key>offset</key>
			<string>{10,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,10},{65,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,134},{63,89}}</string>
			<key>offset</key>
			<string>{11,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{63,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,215},{61,89}}</string>
			<key>offset</key>
			<string>{13,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,10},{61,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,254},{59,89}}</string>
			<key>offset</key>
			<string>{14,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,10},{59,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,65},{61,91}}</string>
			<key>offset</key>
			<string>{12,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,8},{61,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,197},{59,89}}</string>
			<key>offset</key>
			<string>{15,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,10},{59,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,256},{57,89}}</string>
			<key>offset</key>
			<string>{16,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,256},{57,89}}</string>
			<key>offset</key>
			<string>{16,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,315},{57,89}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,91},{57,89}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,67},{59,91}}</string>
			<key>offset</key>
			<string>{14,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,8},{59,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,0},{57,91}}</string>
			<key>offset</key>
			<string>{16,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,8},{57,91}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,313},{57,89}}</string>
			<key>offset</key>
			<string>{16,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,335},{55,89}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,10},{55,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,313},{57,89}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p88.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,69},{65,89}}</string>
			<key>offset</key>
			<string>{12,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{65,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p89.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,126},{65,89}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,10},{65,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,313},{57,89}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,10},{57,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p90.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,197},{59,89}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,10},{59,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p91.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,443},{63,87}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,12},{63,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p92.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,518},{61,87}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,12},{61,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p93.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,269},{67,87}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,12},{67,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p94.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,536},{73,87}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,12},{73,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p95.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,471},{75,87}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{75,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p96.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,453},{79,87}}</string>
			<key>offset</key>
			<string>{-6,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,12},{79,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p97.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,390},{81,87}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,12},{81,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p98.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,372},{85,87}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{85,87}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>chop_p99.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,67},{83,89}}</string>
			<key>offset</key>
			<string>{-7,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,10},{83,89}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,1024}</string>
		<key>textureFileName</key>
		<string>chop.png</string>
	</dict>
</dict>
</plist>
