<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>clean_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,186},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,0},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,284},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,213},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,142},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,138},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,71},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,0},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,447},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,0},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,69},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,416},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,93},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,389},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,27},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,347},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,29},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,318},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,278},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,209},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,140},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,0},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{46,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,4},{46,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,370},{42,87}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,10},{42,87}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,465},{46,81}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,16},{46,81}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,93},{52,77}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{52,77}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p60.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,71},{58,69}}</string>
			<key>offset</key>
			<string>{-4,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,28},{58,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p61.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,207},{56,69}}</string>
			<key>offset</key>
			<string>{-3,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{56,69}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p62.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,426},{56,71}}</string>
			<key>offset</key>
			<string>{-3,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,26},{56,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p63.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,457},{54,73}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,24},{54,73}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p64.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,170},{52,75}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,22},{52,75}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p65.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,0},{50,77}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,20},{50,77}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p66.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,364},{48,79}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,18},{48,79}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p67.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,279},{42,85}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,12},{42,85}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p68.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,279},{42,91}}</string>
			<key>offset</key>
			<string>{9,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,6},{42,91}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p69.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,372},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,245},{54,73}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,24},{54,73}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p70.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{46,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,4},{46,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p71.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,279},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p72.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,186},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p73.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,93},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p74.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,186},{44,93}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,4},{44,93}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,0},{56,71}}</string>
			<key>offset</key>
			<string>{-3,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,26},{56,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
		<key>clean_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,355},{58,71}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,26},{58,71}}</string>
			<key>sourceSize</key>
			<string>{70,97}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>clean.png</string>
	</dict>
</dict>
</plist>
