<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>clean_f_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,90}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,90}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,116},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,184},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,252},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,326},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,404},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,116},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,184},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{48,90}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,258},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,336},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,422},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,450},{58,70}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,70}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,320},{58,66}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{58,66}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,116},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,190},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,268},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,0},{48,90}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,184},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,354},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,252},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,326},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,404},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p35.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p36.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,116},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p37.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,184},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p38.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,258},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p39.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,336},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,360},{48,90}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p40.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,422},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p41.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,450},{58,70}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,70}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p42.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p43.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,320},{58,66}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{58,66}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p44.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,116},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p45.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,190},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p46.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p47.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,268},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p48.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,184},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p49.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,354},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,0},{48,84}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,11},{48,84}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p50.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,252},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p51.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,326},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p52.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,404},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p53.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p54.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,116},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p55.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,184},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p56.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,258},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p57.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,336},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p58.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,422},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p59.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,450},{58,70}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,70}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,130},{48,78}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,17},{48,78}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p60.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p61.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,394},{58,66}}</string>
			<key>offset</key>
			<string>{-5,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{58,66}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p62.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,48},{58,68}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,27},{58,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p63.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,106},{56,68}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,27},{56,68}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p64.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,120},{54,70}}</string>
			<key>offset</key>
			<string>{-3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,25},{54,70}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p65.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,282},{54,72}}</string>
			<key>offset</key>
			<string>{-3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,23},{54,72}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p66.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,124},{52,74}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{52,74}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p67.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,48},{48,76}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,19},{48,76}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p68.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,48},{46,82}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,13},{46,82}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p69.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,0},{48,88}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,7},{48,88}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,208},{52,74}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{52,74}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p70.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,270},{48,90}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p71.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,360},{48,90}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p72.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,180},{48,90}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p73.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,90},{48,90}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p74.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,90}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{48,90}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,48},{56,72}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{56,72}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>clean_f_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,198},{56,70}}</string>
			<key>offset</key>
			<string>{-4,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{56,70}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>clean_f.png</string>
	</dict>
</dict>
</plist>
