<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>clean2_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,0},{44,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,8},{44,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,368},{44,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,8},{44,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,212},{54,70}}</string>
			<key>offset</key>
			<string>{-4,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,30},{54,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,112},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,210},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,158},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,156},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,110},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,70},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,56},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,140},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,102},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,184},{46,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,8},{46,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,100},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,54},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,0},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,0},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,70},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,46},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,44},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,0},{56,70}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,30},{56,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,166},{54,70}}</string>
			<key>offset</key>
			<string>{-4,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,30},{54,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,214},{54,70}}</string>
			<key>offset</key>
			<string>{-4,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,30},{54,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,92},{46,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,8},{46,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{46,80}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,20},{46,80}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,92},{42,88}}</string>
			<key>offset</key>
			<string>{5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,12},{42,88}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,276},{44,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,8},{44,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,92},{46,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,8},{46,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{46,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,8},{46,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p35.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,368},{44,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,8},{44,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p36.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,276},{44,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,8},{44,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p37.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,0},{44,92}}</string>
			<key>offset</key>
			<string>{9,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,8},{44,92}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,180},{42,86}}</string>
			<key>offset</key>
			<string>{4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,14},{42,86}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,0},{44,80}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,20},{44,80}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,460},{50,76}}</string>
			<key>offset</key>
			<string>{-2,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,24},{50,76}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,460},{52,74}}</string>
			<key>offset</key>
			<string>{-3,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,26},{52,74}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,0},{54,72}}</string>
			<key>offset</key>
			<string>{-4,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,28},{54,72}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
		<key>clean2_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,214},{54,70}}</string>
			<key>offset</key>
			<string>{-4,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,30},{54,70}}</string>
			<key>sourceSize</key>
			<string>{74,98}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>clean2.png</string>
	</dict>
</dict>
</plist>
