<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>feed_f_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,364},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,273},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,102},{51,75}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{51,75}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,102},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,393},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,316},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,239},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,51},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,0},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,397},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,320},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,160},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,91},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,241},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,403},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,324},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,0},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,81},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,162},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,245},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,417},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,338},{51,79}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{51,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,81},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,91},{49,91}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{49,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,164},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,257},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,0},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,83},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,455},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p35.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,455},{51,81}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,10},{51,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p36.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,174},{49,83}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{49,83}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p37.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,0},{47,83}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{47,83}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p38.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,356},{47,85}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{47,85}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p39.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,87},{47,87}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{47,87}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,0},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p40.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,0},{47,87}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,4},{47,87}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p41.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,182},{47,89}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,2},{47,89}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p42.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,182},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p43.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,364},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p44.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{49,91}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{49,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p45.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,273},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p46.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{47,91}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{47,91}}</string>
			<key>sourceSize</key>
			<string>{63,91}</string>
		</dict>
		<key>feed_f_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,271},{47,85}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,6},{47,85}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,0},{47,81}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{47,81}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,79},{47,79}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{47,79}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,0},{51,77}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{51,77}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>feed_f_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,179},{51,75}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{51,75}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>feed_f.png</string>
	</dict>
</dict>
</plist>
