<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fishing_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,303},{79,93}}</string>
			<key>offset</key>
			<string>{-20,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{79,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,485},{71,93}}</string>
			<key>offset</key>
			<string>{-14,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,19},{71,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,845},{71,111}}</string>
			<key>offset</key>
			<string>{-2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,1},{71,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p100.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,111},{135,93}}</string>
			<key>offset</key>
			<string>{4,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,19},{135,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p101.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,0},{137,93}}</string>
			<key>offset</key>
			<string>{5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,19},{137,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p102.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,0},{137,93}}</string>
			<key>offset</key>
			<string>{5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,19},{137,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p103.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{137,93}}</string>
			<key>offset</key>
			<string>{6,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,19},{137,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p104.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,0},{137,93}}</string>
			<key>offset</key>
			<string>{7,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{137,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p105.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,0},{137,93}}</string>
			<key>offset</key>
			<string>{8,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{137,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p106.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,0},{137,93}}</string>
			<key>offset</key>
			<string>{9,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{137,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p107.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{139,93}}</string>
			<key>offset</key>
			<string>{9,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,19},{139,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,500},{73,111}}</string>
			<key>offset</key>
			<string>{-3,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,1},{73,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,734},{71,111}}</string>
			<key>offset</key>
			<string>{-3,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,1},{71,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,845},{69,111}}</string>
			<key>offset</key>
			<string>{-3,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,1},{69,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,0},{63,111}}</string>
			<key>offset</key>
			<string>{-2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,1},{63,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,611},{61,109}}</string>
			<key>offset</key>
			<string>{-4,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,3},{61,109}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,111},{61,105}}</string>
			<key>offset</key>
			<string>{-8,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,7},{61,105}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,111},{73,97}}</string>
			<key>offset</key>
			<string>{-18,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,15},{73,97}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,479},{81,89}}</string>
			<key>offset</key>
			<string>{-25,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,23},{81,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,572},{87,89}}</string>
			<key>offset</key>
			<string>{-30,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,23},{87,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,499},{63,95}}</string>
			<key>offset</key>
			<string>{-7,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,17},{63,95}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,669},{89,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,23},{89,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,766},{89,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,23},{89,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,778},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,873},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,111},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,204},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,297},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,390},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,932},{91,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,23},{91,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,869},{89,89}}</string>
			<key>offset</key>
			<string>{-33,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,23},{89,89}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,216},{59,101}}</string>
			<key>offset</key>
			<string>{-3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,11},{59,101}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,675},{87,91}}</string>
			<key>offset</key>
			<string>{-32,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,21},{87,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,412},{87,91}}</string>
			<key>offset</key>
			<string>{-31,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,21},{87,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,481},{85,91}}</string>
			<key>offset</key>
			<string>{-30,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,21},{85,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,578},{85,91}}</string>
			<key>offset</key>
			<string>{-29,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,21},{85,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,388},{83,91}}</string>
			<key>offset</key>
			<string>{-28,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,21},{83,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p35.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,295},{81,91}}</string>
			<key>offset</key>
			<string>{-27,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{81,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p36.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,111},{79,91}}</string>
			<key>offset</key>
			<string>{-25,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,21},{79,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p37.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,202},{79,91}}</string>
			<key>offset</key>
			<string>{-25,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,21},{79,91}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p38.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,396},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p39.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,499},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,216},{59,105}}</string>
			<key>offset</key>
			<string>{-2,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,7},{59,105}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p40.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,594},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p41.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,111},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p42.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,111},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p43.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,204},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p44.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,297},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p45.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,392},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p46.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,489},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p47.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,582},{73,93}}</string>
			<key>offset</key>
			<string>{-21,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p48.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,592},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p49.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,687},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,611},{61,107}}</string>
			<key>offset</key>
			<string>{-1,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,5},{61,107}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p50.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,206},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p51.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,111},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p52.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,204},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p53.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,297},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p54.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,392},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p55.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,489},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p56.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,582},{73,93}}</string>
			<key>offset</key>
			<string>{-21,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p57.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,592},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p58.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,687},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p59.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,206},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,956},{63,109}}</string>
			<key>offset</key>
			<string>{-1,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,3},{63,109}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p60.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,111},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p61.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,204},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p62.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,297},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p63.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,392},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p64.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,489},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p65.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,582},{73,93}}</string>
			<key>offset</key>
			<string>{-21,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p66.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,592},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p67.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,687},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p68.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,206},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p69.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,111},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,956},{67,111}}</string>
			<key>offset</key>
			<string>{-2,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,1},{67,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p70.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,204},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p71.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,297},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p72.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,392},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p73.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,489},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p74.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,582},{73,93}}</string>
			<key>offset</key>
			<string>{-21,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p75.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,592},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p76.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,687},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p77.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,206},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p78.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,299},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p79.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,297},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,845},{69,111}}</string>
			<key>offset</key>
			<string>{-2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,1},{69,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p80.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,424},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p81.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,582},{73,93}}</string>
			<key>offset</key>
			<string>{-21,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p82.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,592},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p83.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,687},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p84.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,206},{77,93}}</string>
			<key>offset</key>
			<string>{-23,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{77,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p85.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,111},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p86.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,204},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p87.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,297},{75,93}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{75,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p88.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,500},{91,119}}</string>
			<key>offset</key>
			<string>{-29,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{91,119}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p89.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,321},{87,103}}</string>
			<key>offset</key>
			<string>{-25,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,20},{87,103}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,734},{71,111}}</string>
			<key>offset</key>
			<string>{-3,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,1},{71,111}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p90.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,827},{73,105}}</string>
			<key>offset</key>
			<string>{-17,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,20},{73,105}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p91.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,685},{73,93}}</string>
			<key>offset</key>
			<string>{-17,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p92.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,780},{73,93}}</string>
			<key>offset</key>
			<string>{-16,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,19},{73,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p93.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,111},{73,95}}</string>
			<key>offset</key>
			<string>{-15,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,17},{73,95}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p94.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,208},{83,95}}</string>
			<key>offset</key>
			<string>{-10,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,17},{83,95}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p95.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,317},{95,93}}</string>
			<key>offset</key>
			<string>{-5,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,19},{95,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p96.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,720},{107,93}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,19},{107,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p97.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,619},{115,93}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,19},{115,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p98.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,377},{123,93}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,19},{123,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
		<key>fishing_p99.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,246},{131,93}}</string>
			<key>offset</key>
			<string>{4,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,19},{131,93}}</string>
			<key>sourceSize</key>
			<string>{155,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>fishing.png</string>
	</dict>
</dict>
</plist>
