<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gather_f_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,0},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,420},{48,90}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,16},{48,90}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,0},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,0},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,384},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,288},{58,96}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,192},{58,96}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,114},{58,94}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{58,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,118},{56,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{56,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,174},{54,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,228},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,280},{48,92}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,14},{48,92}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,278},{50,92}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,14},{50,92}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,226},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,226},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,172},{54,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,118},{56,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{56,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,114},{58,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{58,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,58},{60,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{60,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,58},{60,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,12},{60,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,384},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,288},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,328},{48,92}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,14},{48,92}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{62,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{62,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,192},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,0},{58,96}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p35.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,384},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p36.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,288},{58,96}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p37.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,192},{58,96}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p38.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,114},{58,94}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{58,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p39.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,118},{56,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{56,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,226},{52,94}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p40.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,174},{54,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p41.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,228},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p42.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,278},{50,92}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,14},{50,92}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p43.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,226},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p44.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,226},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p45.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,172},{54,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p46.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,118},{56,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{56,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p47.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,114},{58,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{58,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p48.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,58},{60,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{60,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p49.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,58},{60,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,12},{60,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,174},{52,94}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p50.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,384},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p51.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,288},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p52.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{62,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{62,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p53.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,192},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p54.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p55.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,0},{58,96}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p56.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p57.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,384},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p58.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,288},{58,96}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p59.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,192},{58,96}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,172},{54,94}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p60.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,114},{58,94}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{58,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p61.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,118},{56,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{56,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p62.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,174},{54,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p63.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,228},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p64.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,278},{50,92}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,14},{50,92}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p65.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,226},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p66.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,226},{52,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,12},{52,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p67.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,172},{54,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,12},{54,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p68.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,118},{56,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{56,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p69.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,114},{58,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,12},{58,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,58},{56,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,10},{56,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p70.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,58},{60,94}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{60,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p71.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,58},{60,94}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,12},{60,94}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p72.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,384},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p73.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,288},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p74.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{62,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,10},{62,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p75.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,192},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p76.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{60,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{60,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p77.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,0},{58,96}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,58},{56,96}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,10},{56,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
		<key>gather_f_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,96},{58,96}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{58,96}}</string>
			<key>sourceSize</key>
			<string>{70,104}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>gather_f.png</string>
	</dict>
</dict>
</plist>
