<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>heal_peacock_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,396},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,465},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,372},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,279},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,264},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,264},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,220},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,220},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,186},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,176},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,176},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,132},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,132},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,93},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,88},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,88},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,44},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,44},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,0},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,0},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,396},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,396},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,396},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,352},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,352},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,308},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
		<key>heal_peacock_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,308},{44,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,93}}</string>
			<key>sourceSize</key>
			<string>{44,93}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256,512}</string>
		<key>textureFileName</key>
		<string>heal_peacock.png</string>
	</dict>
</dict>
</plist>
