<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kick_f_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,930},{81,91}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{81,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,839},{81,91}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{81,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,202},{63,101}}</string>
			<key>offset</key>
			<string>{22,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,11},{63,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,836},{67,101}}</string>
			<key>offset</key>
			<string>{24,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,11},{67,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,303},{59,101}}</string>
			<key>offset</key>
			<string>{20,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,11},{59,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,0},{51,99}}</string>
			<key>offset</key>
			<string>{16,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,13},{51,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,0},{49,99}}</string>
			<key>offset</key>
			<string>{14,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,13},{49,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,800},{53,99}}</string>
			<key>offset</key>
			<string>{10,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,13},{53,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,503},{61,99}}</string>
			<key>offset</key>
			<string>{4,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,13},{61,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,360},{85,87}}</string>
			<key>offset</key>
			<string>{-9,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{85,87}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,853},{91,87}}</string>
			<key>offset</key>
			<string>{-14,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,25},{91,87}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,99},{75,95}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,28},{75,95}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,657},{83,91}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,21},{83,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,388},{73,93}}</string>
			<key>offset</key>
			<string>{-5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,26},{73,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,574},{71,93}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,25},{71,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,667},{71,93}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,24},{71,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,0},{75,91}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,24},{75,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,89},{75,89}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,24},{75,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,0},{77,89}}</string>
			<key>offset</key>
			<string>{-4,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,23},{77,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,944},{79,89}}</string>
			<key>offset</key>
			<string>{-4,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,23},{79,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,748},{81,91}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{81,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,942},{81,91}}</string>
			<key>offset</key>
			<string>{-3,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,21},{81,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,667},{67,93}}</string>
			<key>offset</key>
			<string>{6,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,19},{67,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,473},{69,93}}</string>
			<key>offset</key>
			<string>{5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,19},{69,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p30.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,632},{51,103}}</string>
			<key>offset</key>
			<string>{16,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{51,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p31.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,424},{53,105}}</string>
			<key>offset</key>
			<string>{16,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,7},{53,105}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,319},{53,105}}</string>
			<key>offset</key>
			<string>{17,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,7},{53,105}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p33.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,735},{53,103}}</string>
			<key>offset</key>
			<string>{17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{53,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p34.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,529},{55,103}}</string>
			<key>offset</key>
			<string>{18,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{55,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p35.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,739},{59,103}}</string>
			<key>offset</key>
			<string>{20,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{59,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p36.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,101},{65,101}}</string>
			<key>offset</key>
			<string>{22,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,11},{65,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p37.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,735},{69,101}}</string>
			<key>offset</key>
			<string>{24,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,11},{69,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p38.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,404},{61,101}}</string>
			<key>offset</key>
			<string>{20,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,11},{61,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p39.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,202},{51,101}}</string>
			<key>offset</key>
			<string>{16,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,11},{51,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,634},{51,105}}</string>
			<key>offset</key>
			<string>{16,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,7},{51,105}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p40.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,99},{49,99}}</string>
			<key>offset</key>
			<string>{14,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,13},{49,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p41.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,701},{53,99}}</string>
			<key>offset</key>
			<string>{10,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,13},{53,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p42.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,404},{61,99}}</string>
			<key>offset</key>
			<string>{4,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,13},{61,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p43.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,0},{85,87}}</string>
			<key>offset</key>
			<string>{-9,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{85,87}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p44.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,566},{91,87}}</string>
			<key>offset</key>
			<string>{-14,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,25},{91,87}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p45.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,198},{75,97}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,27},{75,97}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p46.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,481},{73,93}}</string>
			<key>offset</key>
			<string>{-5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,26},{73,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p47.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,380},{71,93}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,25},{71,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p48.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,481},{71,93}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,24},{71,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p49.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,194},{75,93}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,23},{75,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,107},{53,107}}</string>
			<key>offset</key>
			<string>{16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,5},{53,107}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p50.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,180},{75,89}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,24},{75,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p51.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,945},{79,89}}</string>
			<key>offset</key>
			<string>{-5,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,23},{79,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p52.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,182},{81,89}}</string>
			<key>offset</key>
			<string>{-5,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{81,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p53.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,851},{83,91}}</string>
			<key>offset</key>
			<string>{-5,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,21},{83,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p54.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,760},{83,91}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,21},{83,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p55.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,760},{67,93}}</string>
			<key>offset</key>
			<string>{6,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,19},{67,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p56.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,529},{51,105}}</string>
			<key>offset</key>
			<string>{16,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,7},{51,105}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p57.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{53,107}}</string>
			<key>offset</key>
			<string>{16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,5},{53,107}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p58.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,214},{53,105}}</string>
			<key>offset</key>
			<string>{17,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,7},{53,105}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p59.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,735},{53,103}}</string>
			<key>offset</key>
			<string>{17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{53,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,632},{53,103}}</string>
			<key>offset</key>
			<string>{17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{53,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p60.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,842},{55,103}}</string>
			<key>offset</key>
			<string>{18,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{55,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p61.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,707},{59,101}}</string>
			<key>offset</key>
			<string>{20,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,11},{59,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p62.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,0},{65,101}}</string>
			<key>offset</key>
			<string>{22,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,11},{65,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p63.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,838},{69,101}}</string>
			<key>offset</key>
			<string>{24,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,11},{69,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p64.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,303},{61,101}}</string>
			<key>offset</key>
			<string>{20,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,11},{61,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p65.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,899},{51,99}}</string>
			<key>offset</key>
			<string>{16,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,13},{51,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p66.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,99},{49,99}}</string>
			<key>offset</key>
			<string>{14,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,13},{49,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p67.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,602},{53,99}}</string>
			<key>offset</key>
			<string>{10,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,13},{53,99}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p68.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,606},{59,101}}</string>
			<key>offset</key>
			<string>{5,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{59,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p69.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,939},{85,87}}</string>
			<key>offset</key>
			<string>{-9,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,25},{85,87}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,735},{53,103}}</string>
			<key>offset</key>
			<string>{17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,9},{53,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p70.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,295},{93,87}}</string>
			<key>offset</key>
			<string>{-15,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,25},{93,87}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p71.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,0},{73,95}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,28},{73,95}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p72.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,388},{73,93}}</string>
			<key>offset</key>
			<string>{-5,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,25},{73,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p73.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,574},{71,93}}</string>
			<key>offset</key>
			<string>{-4,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,24},{71,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p74.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,287},{71,93}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,24},{71,93}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p75.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,91},{73,91}}</string>
			<key>offset</key>
			<string>{-3,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,24},{73,91}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p76.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,271},{75,89}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,24},{75,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p77.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,91},{77,89}}</string>
			<key>offset</key>
			<string>{-4,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,23},{77,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p78.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,945},{79,89}}</string>
			<key>offset</key>
			<string>{-4,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,23},{79,89}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,842},{55,103}}</string>
			<key>offset</key>
			<string>{17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,9},{55,103}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>kick_f_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,505},{59,101}}</string>
			<key>offset</key>
			<string>{20,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,11},{59,101}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>kick_f.png</string>
	</dict>
</dict>
</plist>
