<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>move_f_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,91},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,48},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,0},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,0},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,182},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,91},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,0},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,91},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,0},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,182},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,91},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,0},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,91},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,182},{48,91}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,91},{50,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{50,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{50,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{50,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,91},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
		<key>move_f_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{48,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{48,91}}</string>
			<key>sourceSize</key>
			<string>{50,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>move_f.png</string>
	</dict>
</dict>
</plist>
