<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>planting_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,135},{43,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,2},{43,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,90},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,382},{55,71}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,22},{55,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,437},{55,71}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{55,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,380},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,325},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,318},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,323},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,268},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,53},{59,71}}</string>
			<key>offset</key>
			<string>{-3,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,22},{59,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,261},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,266},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,90},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,112},{57,71}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{57,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,45},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,45},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p46.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,437},{55,71}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{55,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p47.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,0},{53,73}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,20},{53,73}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p48.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,169},{49,75}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,18},{49,75}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p49.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,221},{45,79}}</string>
			<key>offset</key>
			<string>{4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,14},{45,79}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,135},{43,89}}</string>
			<key>offset</key>
			<string>{12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,4},{43,89}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p50.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,178},{43,85}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,8},{43,85}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p51.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,45},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p52.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,0},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p53.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{45,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,2},{45,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p54.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,135},{43,91}}</string>
			<key>offset</key>
			<string>{13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,2},{43,91}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,178},{43,87}}</string>
			<key>offset</key>
			<string>{9,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,6},{43,87}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,218},{43,83}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,10},{43,83}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,221},{47,77}}</string>
			<key>offset</key>
			<string>{3,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,16},{47,77}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
		<key>planting_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,437},{55,71}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,22},{55,71}}</string>
			<key>sourceSize</key>
			<string>{69,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256,512}</string>
		<key>textureFileName</key>
		<string>planting.png</string>
	</dict>
</dict>
</plist>
