<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>swim_stay_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,68},{54,66}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,26},{54,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,134},{56,66}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,26},{56,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,68},{70,66}}</string>
			<key>offset</key>
			<string>{1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,27},{70,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,136},{70,68}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,26},{70,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,0},{72,68}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{72,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,68},{74,68}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,26},{74,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,136},{76,68}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,26},{76,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,0},{76,68}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,26},{76,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,68},{78,68}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,27},{78,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,136},{80,68}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,27},{80,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,0},{82,68}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,27},{82,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{84,68}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,27},{84,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,134},{56,66}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,26},{56,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{84,68}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,27},{84,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,200},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,200},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,134},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,202},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,204},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,204},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,204},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p28.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,204},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p29.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,204},{50,64}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{50,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,68},{58,66}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,26},{58,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,66},{60,66}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,26},{60,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,134},{62,68}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,25},{62,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,136},{62,68}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,25},{62,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,0},{64,68}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,25},{64,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,0},{66,66}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,27},{66,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_stay_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,0},{68,66}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,27},{68,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>swim_stay.png</string>
	</dict>
</dict>
</plist>
