<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>swim_p0.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,0},{58,68}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,20},{58,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,0},{58,68}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,20},{58,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,278},{60,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,23},{60,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,226},{60,62}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,23},{60,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,226},{62,62}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,23},{62,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,236},{62,62}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,23},{62,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,120},{62,62}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,23},{62,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,58},{58,62}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,23},{58,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,346},{56,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,23},{56,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,344},{56,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,23},{56,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,338},{56,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,23},{56,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,298},{56,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,23},{56,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,114},{56,66}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,21},{56,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,114},{56,64}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,21},{56,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,114},{56,64}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,21},{56,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,224},{54,64}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,21},{54,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,182},{54,64}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,22},{54,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,170},{54,64}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,22},{54,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p25.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,58},{56,66}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,20},{56,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p26.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,58},{56,66}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,20},{56,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p27.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{58,68}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,20},{58,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,58},{56,66}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,21},{56,66}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,170},{56,64}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,22},{56,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,170},{56,64}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,22},{56,64}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,394},{56,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,23},{56,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,354},{56,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,23},{56,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,288},{58,62}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,23},{58,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>swim_p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,286},{58,62}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,23},{58,62}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256,512}</string>
		<key>textureFileName</key>
		<string>swim.png</string>
	</dict>
</dict>
</plist>
